.padre{
    width: 700px;
    background-color: purple;
}

.caja{
    width: 200;
    height: 200px;
    font-size: 40px;
    color: white;
    background-color: green;
    margin: 20px;
}

.primera{
    float: left;
}

.segunda{
    float: right;
}

.limpiar{
    clear: both;
}
